@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css');

$font-primary: 'Lato', sans-serif;
$font-code: 'Fira Code', monospace;

$color-blue: rgba(10, 150, 220, 1);
$color-white: rgba(215, 250, 240, 1);
$color-grey: rgba(50, 50, 50, 1);
$color-black: rgba(20, 20, 20, 1);
